<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<title>打白条</title>
	<script src="../assets/js/jquery.min.js"></script><script src="../assets/js/amazeui.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css">
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../css/iou.css"/>
</head>
<body class="bg_gray">
<div class="text_center mg_t5rem mg_lr1rem clearfix">
	<!--<img class="w_35per" src="../images/bad_internet.png">-->
	<img class="w_35per" src="../images/icon_sorry.png">
<div class="mg_t1rem pd_b250per_rem">加载失败<br>
请重试或联系客服<br><strong class="font_blue f_size_150per_rem"><img class="h_150per_rem" src="../images/icon_tel@2x.png"> 400-990-7626</strong><div class="f_size_90per_rem">(客服工作时间：9:00-18:00)</div></div>
</div>
</body>
</html>