<!-- <!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<title>打白条</title>
	<script src="../assets/js/jquery.min.js"></script><script src="../assets/js/amazeui.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css">
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../css/iou.css"/>
</head> -->
<body class="bg_white">
<div class="text_center mg_t5rem mg_lr1rem clearfix">
	<img class="w_35per" src="../images/lianlian-callback.png">
	<div class="mg_t1rem pd_b250per_rem">恭喜您，成功消费<span class="font_orange2 mg_lr_50per_rem">35.00</span>元！<br>款项已从您信用额度扣除</div>
	<div class="btn_box clearfix">
		<div class="fl w_50per pd_r25per_rem"><button type="button" class="am-btn am-btn-success am-radius am-btn-block">消费记录</button></div>
		<div class="fr w_50per pd_l25per_rem"><button type="button" class="am-btn am-btn-default am-radius am-btn-block"  onclick="location.href='shop_list_iou.html';">浏览店铺</button></div>
	</div>
</div>
<!-- </body>
</html> -->