<!-- <!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<title>打白条</title>
	<script src="../assets/js/jquery.min.js"></script><script src="../assets/js/amazeui.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css">
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>
	<link type="text/css" rel="stylesheet" href="../css/iou.css"/>
</head>
<body class="bg_white">
<ul class="tabs_iou">
	<li class="select w_1-3"><a class="font_white" href="#">打白条</a></li>
	<li class="w_1-3"><a class="font_white" href="#">去赚钱</a></li>
	<li class="w_1-3"><a class="font_white" href="#">我的账户</a></li>
</ul>
 -->
<!--<div class="bg_blue_l pd_t50per_rem mg_t1px">
	<div class="mg_lr_50per_rem">
		<div class="am-input-group">
			<input type="text" class="am-form-field" value="输入店名查询">
			<span class="am-input-group-btn">
				<button class="am-btn am-btn-default am-radius" type="button"><span class="am-icon-search pd_lr1rem"></span></button>
			</span>
		</div>
	</div>
</div>

<div class="list_iou" >
	<ul ng-repeat="shop in pagingShops.data">
		<li ng-click="goShopDetail(shop)">
			<span class="img_shop_iou"><img src="/images/img_shop/0.jpg"></span>
			<span>{{shop.shopName}}</span><span class="fr font_skyblue">0.3km</span>
			<div class="address">{{shop.address}}</div>
		</li>
	</ul>
</div>

-->





<div class="shop-list">
	<div class="bg-blue1 overflow-hid position-re shop-head">
		<i class="fa fa-search position-ab ft-grey2"></i>
		<input class="search-input" placeholder="搜索店铺名"/>
		<a class="btn-account u-pull-right"><img src="/images/img_shop/account.png"></a>
	</div>
	<ul class="margin-1" ng-repeat="shop in pagingShops.data">
		<li class="overflow-hid bg-white margin-t-0p5 margin-b-0p5" ng-click="goShopDetail(shop)">
			<span class="img_shop_iou u-pull-left"><img src="/images/img_shop/0.jpg"></span>
			<div class="u-pull-left padding-1 ft-1">
				<div>
					<span class="ft-1p4 txt-shop-name">{{shop.shopName}}</span>
					<span class="discout-info ft-white">全店{{shop.rebate * 10 | number : 1}}折</span>
				</div>
				<div class="ft-grey2 position-ab bottom-text"><i class="fa fa-map-marker ft-1p8 margin-r-0p5"></i>{{shop.address}}</div>	
			</div>
		</li>
		
	</ul>
</div>



<!-- </body>
</html> -->