.account-userInfo {
  .account_top {
    position: relative;
    img {
      position: absolute;
      left: 0;
      top: 17%;
    }
  }
  .recharge {
    bottom: 20%;
    right: 0;
  }
  .account-stat {
    height: 0.6rem;
    background-image: url(/images/bg-dotted.png);
    background-size: 4.5% 100%; 
  }
  .panel {
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem #eee;
    border-left: 0.5rem solid #ff9900;
    background-color: #fff;
    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  } 
}
.investment-record {
  .status {
    display: inline-block;
    padding: 0 0.5rem;
  }
  .bg-circle {
    width: 12rem;
    height: 12rem;
    padding: 3rem;
    margin: 0 auto;
  }
  .record-bg {
    background: url(/images/record-bg.png);
    background-size: 4.5% 100%; 
  }
  .position-center {
    margin: 0 auto;
  } 
} 

.user-consume {
    .status {
      background-image: url(/images/consume.png);
      background-position: center center;
      background-repeat: no-repeat; 
      background-size: 3% 80%;
    }
    .consume-paid {
      background-image: url(/images/consume-paid.png);
       background-position: right top;
      background-size: 100% 100%;
    }
    .consume-no-paid {
      background-image: url(/images/consume-no-pay.png);
      background-size: 100% 100%; 
    }
    .consume-status-icon {
      top: 0;
      right: 0;
    }
    .consume-status-icon img {
      width: 60%;
    }
    .bg-circle {
      width: 12rem;
      height: 12rem;
      padding: 3rem;
      margin: 0 auto;
    }
    .position-center {
      margin: 0 auto;
    }
}
