.account-userInfo {
  .border-width {
    border-width: 0.3rem;
  }
  .account-stat {
    background-image: url(/images/account.png);
    background-size: 100% 100%; 
  }
}
.investment-record {
  .border-width {
    border-width: 0.3rem;
  }
  .status {
    display: inline-block;
    padding: 0 0.5rem;
  }
  
} 

.user-consume{
    
}
