<!-- 我的账户 -->
<div class="account-userInfo bg-white">
  <div class="padding-l-2 padding-r-2 padding-t-1 padding-b-1">
    <div class="border-white margin-0 text-center ft-white account-stat overflow-hid padding-2 padding-3">
      <div class="u-pull-left padding-t-1">
        <span class="padding-t-0p5 padding-b-0p5 padding-l-1 padding-r-1 border-ra-20 bg-blue1">可用白条</span>
        <br>
        <span class="ft-blue"><strong class="ft-1p8">{{userAccount.availableQuota || 0 | number: 2 }}</strong><small>元</small></span>
      </div>
      <div class="u-pull-right padding-t-1">
        <span class="padding-t-0p5 padding-b-0p5 padding-l-1 padding-r-1 border-ra-20 bg-grey">已消费</span>
        <br>
        <span class="ft-grey1"><strong class="ft-1p8">{{userAccount.consumptionQuota || 0 | number: 2 }}</strong><small>元</small></span>
      </div>
    </div>
    <div class="text-center ft-1p4">
      <i class="fa fa-check-square ft-green">&nbsp;</i>白条为您节省：<strong>{{ userAccount.discountAmount || 0 | number: 2}}</strong>元，还白白多赚了三个月的利息
    </div>
  </div>
  <hr class="border-width margin-0 margin-b-2">

  <!-- 细分页面入口 -->
  <div class="overflow-hid padding-t-2 padding-b-2">
    <a class="column border-grey padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5" ui-sref="investment-record">
      <span class="u-pull-left ft-grey"><i class="fa fa-list-ul ft-blue ft-1p8">&nbsp;&nbsp;</i>购买记录</span>
      <span class="u-pull-right"><small class="ft-grey1"></small><i class="fa fa-chevron-right ft-grey2"></i></span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="consume-record">
      <span class="u-pull-left ft-grey"><i class="fa fa-credit-card  ft-blue ft-1p8">&nbsp;&nbsp;</i>消费记录</span>
      <span class="u-pull-right"><small class="ft-grey1"></small><i class="fa fa-chevron-right ft-grey2"></i></span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" ui-sref="about">
      <span class="u-pull-left ft-grey"><i class="fa fa-users ft-blue ft-1p8">&nbsp;&nbsp;</i>关于我们</span>
      <span class="u-pull-right"><small class="ft-grey1"></small><i class="fa fa-chevron-right ft-grey2"></i></span>
    </a>
  </div>
</div>

