<!-- 我的账户 -->
<div class="account-userInfo bg-white">
  <div>
    <div class="border-white margin-0 text-center bg-blue1 padding-2 ft-white">
      已消费白条(元)
      <br>
      <strong class="ft-2p5">{{'800' | number: 2}}</strong>
    </div>
    <div class="text-center padding-2">
      <i class="fa fa-check-square ft-green">&nbsp;</i>白条为您节省：<strong>{{'56.23' | number: 2}}</strong>元，还白白多赚了三个月的利息
    </div>
  </div>
  <hr class="border-width margin-0 margin-b-2">

  <!-- 细分页面入口 -->
  <div class="overflow-hid padding-t-2 padding-b-2">
    <a class="column border-grey padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5" href="javascript:;">
      <span class="u-pull-left ft-grey"><i class="fa fa-list-ul ft-blue ft-1p8">&nbsp;&nbsp;</i>购买记录</span>
      <span class="u-pull-right"><small class="ft-grey1">开发中……&nbsp;</small><i class="fa fa-chevron-right ft-grey2"></i></span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" href="javascript:;">
      <span class="u-pull-left ft-grey"><i class="fa fa-credit-card  ft-blue ft-1p8">&nbsp;&nbsp;</i>消费记录</span>
      <span class="u-pull-right"><small class="ft-grey1">开发中……&nbsp;</small><i class="fa fa-chevron-right ft-grey2"></i></span>
    </a>
    <a class="column border-grey border-top-none padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 margin-0" href="javascript:;">
      <span class="u-pull-left ft-grey"><i class="fa fa-users ft-blue ft-1p8">&nbsp;&nbsp;</i>关于我们</span>
      <span class="u-pull-right"><small class="ft-grey1">开发中……&nbsp;</small><i class="fa fa-chevron-right ft-grey2"></i></span>
    </a>
  </div>
</div>

