<!-- 消费记录 -->
<div class="user-consume">
	<div>
		<p>消费记录</p>
		<a class="ft-gray" href="">&lt;返回我的账户</a>
	</div>
	<div>
		<div class="text-center border-grey1"><span>白条额度(元)：</span><br/><span class="ft-blue text-left">{{userConsume.limit}}</span></div>
		<div class="text-center border-orange"><span>可用白条(元)：</span><br/><span class="ft-orange text-left">{{userConsume.useable}}</span></div>
	</div>
	<!-- <div ng-repeat="item in userConsume.consumeList">
		<p><span>{{item.info}}</span><span class="ft-blue">{{item.num}}元</span></p>
		<p class="ft-gray">{{item.date}}</p>
		<div class="consume-status-{{item.status}}"></div>
	</div> -->

</div>