<div class="investment-record bg-white">
  <div class="padding-1 overflow-hid">
    <p class="ft-1p8 margin-0">
      <span class="u-pull-left">购买记录</span>
      <a class="u-pull-right ft-1p2 margin-t-0p5 ft-grey2 underline" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb0a7af1f7ab4d74a&redirect_uri=http%3A%2F%2Fdbt.hongcai.com%2F&response_type=code&scope=snsapi_base&state=123#wechat_redirect">&lt;返回我的账户</a>
    </p>
  </div>
  <hr class="margin-0 border-dotted-top clear">
  <div class="padding-1 bg-white border-grey-bottom border-width">
    白条利息：<strong class="ft-blue ft-1p6">{{ '800' || 0 | number: 2}}</strong>元
  </div>
  <div class="margin-t-1 padding-l-1 padding-r-1 padding-t-2 padding-b-2 overflow-hid border-grey">
    <div class="u-pull-left">
      <span>{{ '1000' || 0 | number: 2 }}元</span>&nbsp;<span class="status bg-grey ft-white ft-1p2 border-ra-0p5">赚钱的白条</span>
      <br>
      <small class="ft-grey2">{{ '2015-05-18' }} 购买</small>
    </div>
    <div class="u-pull-right">
      <span>{{ '2.53' || 0 | number: 2 }}元</span>&nbsp;<span class="status bg-green ft-white ft-1p2 border-ra-0p5">利息</span>
      <br>
      <small class="ft-grey2">{{ '2015-08-18' }} 到期</small>
    </div>

  </div>
</div>
