<nav id="header" class="position-re bg-white overflow-hid">
  <ul class="nav-ul columns twelve margin-0 ft-white bg-grey">
    <li class="columns text-center margin-0 padding-t-0p5 padding-b-0p5" ng-class="{'bg-blue': selected === 'iou'}"><a class="u-full-width ft-white" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb0a7af1f7ab4d74a&redirect_uri=http%3A%2F%2Fdbt.hongcai.com%2Fiou&response_type=code&scope=snsapi_base&state=123#wechat_redirect">打白条</a></li>
    <li class="columns text-center margin-0 padding-t-0p5 padding-b-0p5" ng-class="{'bg-blue': selected === 'financing'}"><a class="u-full-width ft-white" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb0a7af1f7ab4d74a&redirect_uri=http%3A%2F%2Fdbt.hongcai.com%2F&response_type=code&scope=snsapi_base&state=123#wechat_redirect">去赚钱</a></li>
    <li class="columns text-center margin-0 padding-t-0p5 padding-b-0p5" ng-class="{'bg-blue': selected === 'account'}"><a class="u-full-width ft-white" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb0a7af1f7ab4d74a&redirect_uri=http%3A%2F%2Fdbt.hongcai.com%2Fuser-center%2Faccount&response_type=code&scope=snsapi_base&state=123#wechat_redirect">我的账户</a></li>
  </ul>
</nav>
