<div class="about bg-white">
  <div class="padding-1 overflow-hid">
    <p class="ft-1p8 margin-0">
      <span class="u-pull-left">关于我们</span>
      <a class="u-pull-right ft-1p2 margin-t-0p5 ft-grey2 underline" href={{config.account}}>&lt;返回我的账户</a>
    </p>
  </div>
  <hr class="margin-0 border-dotted-top clear">
  <div class="padding-1">
    <p class="ft-blue ft-1p8 margin-b-1">打白条是什么</p>
    <p>打白条是一款能够帮助用户在实体店铺进行低价消费和便捷支付的互联网产品，同时按照用户最初的充值金额给以高额收益回报。</p>
    <p class="ft-blue ft-1p8 margin-b-1">打白条怎么用</p>
    <p class="margin-b-1">a、 充值。首次充值需要您完善身份信息和银行卡信息。</p>
    <p class="margin-b-1">b、 消费。您消费界面所列的商家内消费均可使用本产品支付，并享受相应的折扣。</p>
    <p class="margin-b-1">c、 提现。每笔充值完成后，在三个月后可以将账户剩余金额提取至银行卡。</p>
    <p>d、 利息。利息是依据您的初始充值金额计算，不受消费影响，年化利率是6%。</p>
    <p class="ft-blue ft-1p8 margin-b-1">打白条的娘家</p>
    <p>北京竞财投资服务有限公司是专业从事P2B业务的互联网金融公司，注册资本1000万元，办公地址位于北京奥运村核心区国家会议中心。公司致力于为投资者、借款企业及担保公司打造一个信息透明，安全可靠，收益稳定的互联网金融平台。</p>
    <p>服务热线：010-59436409</p>
  </div>
</div>
