<div class="padding-1 overflow-hid bg-white">
  <p class="ft-2 margin-0">
    <strong class="u-pull-left">常见问题</strong>
    <a class="u-pull-right ft-1p2 margin-t-0p5 ft-grey1 underline" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxb0a7af1f7ab4d74a&redirect_uri=http%3A%2F%2Fdbt.test321.hongcai.com%2F&response_type=code&scope=snsapi_base&state=123#wechat_redirect">&lt;返回去赚钱</a>
  </p>
</div>
<hr class="margin-0 border-dotted-top clear">
<div class="faq" ng-repeat="item in faqs">
  <div class="border-bottom-safe font-bule ft-1p8 item-style">
    <i class="fa {{item.fa}}"></i>
    <span>&nbsp {{ item.name }} &nbsp</span>
    <span class="font-sub-bule"></span>
  </div>
  <div class="ft-1p5">
    <p class="text-left">{{ item.content }}</p>
  </div>
</div>
