<div class="identity-authentication bg-white">
  <h4 class="text-center ft-white bg-orange padding-1">身份认证</h4>
  <form name="identity" class="margin-0" ng-submit="toPay(user)">
    <p class="margin-b-1 padding-2">
      <label class="u-pull-left ft-1p8">姓名：</label>
      <input class="u-pull-right" type="text" ng-model="user.realName" placeholder="请输入真实姓名" required>
    </p>
    <p class="margin-b-1 padding-2">
      <label class="u-pull-left ft-1p8">身份证：</label>
      <input class="u-pull-right" type="text" ng-model="user.idNo" placeholder="请输入身份证号码" required>
    </p>
    <div class="u-full-width identity">
      <img src="/images/identity.png">
    </div>
    <p class="padding-2 bg-grey2 margin-0 padding-b-10">
      <button class="button bg-orange margin-t-1p5 ft-1p8 ft-white u-full-width border-none">确定</button>
    </p>
    
  </form>
</div>


