<div class="bg-white padding-l-1 padding-r-1 padding-t-3 padding-b-3 overflow-hid text-center" ng-switch="page">
    <div class="overflow-hid" ng-switch-default>
        <img src="/images/lianlian-callback.png" width="35%"> 
        <p class="padding-t-1">
            恭喜您，成功买入<span class="ft-orange">{{'1000'}}元</span>白条理财！<br>项目到期获得理财收益，还可以消费哦~
        </p>
        <div class="u-full-width twelve padding-l-1 padding-r-1 margin-b-1 padding-b-2">
            <div class="one-half button ft-white bg-green u-pull-left border-none border-ra-0p5" ui-sref="root.main">白条消费</div>
            <div class="one-half button button-primary u-pull-right border-none border-ra-0p5" ui-sref="root.login">分享喜悦</div>
        </div>
    </div> 

    <!-- <div class="overflow-hid" ng-switch-when="1">
         <img src="/images/signup-2.png" width="30%"> 
         <p class="padding-t-1 ft-2 ft-orange"><strong>hahaha</strong></p>
         <p class="padding-t-1 padding-b-3">
             现在您可以&nbsp;<i class="fa fa-hand-o-down ft-red"></i>
         </p>
         <div class="column twelve padding-l-1 padding-r-1 margin-b-1 padding-b-2">
             <div class="one-half column button button-primary u-pull-left border-none" ui-sref="root.main">浏览项目</div>
             <div class="one-half column button ft-white bg-yellow u-pull-right border-none" ui-sref="root.login">登录</div>
         </div>
     </div> --> 
</div>
