

<div class="funds-project">
  <form name="investForm" class="investForm overflow-hid margin-0" ng-submit="toInvest(simpleFundsProject)">
     <div class="padding-r-2 padding-l-2 padding-t-0p5 padding-b-1 margin-t-2 margin-b-2 bg-white">
      <!-- <input type="radio" class="margin-0" checked> -->
      <img class="position-re yeepay-img" src="/images/yeepay.png" width="25%">
      <small>(绿色支付)</small>
    </div>
    <div class="bg-white padding-l-2 padding-r-2 padding-t-0p5 padding-b-0p5 overflow-hid">
      <label class="u-pull-left margin-0 padding-r-1 investLabel">买入金额</label>
      <input type="number" name="investAmount" min="1" max={{1000-userAccount.availableQuota}} step="1" ng-model="simpleFundsProject.investAmount" placeholder="输入金额，最高900元"  ng-pattern="/^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/" class="investAmount padding-l-1 u-pull-left margin-0" required ng-focus>
    </div>
    <p class="ft-grey2 ft-1p2 padding-l-2 margin-t-0p5 margin-b-2">（投向融通基金，平安基金）</p>
     <button class="button button-primary border-ra-0p5 margin-2 ft-1p8" ng-class="{'button-disabled':investmentFlag || !simpleFundsProject.investAmount}" >买入</button>
     <div class="text-center ft-1p2 padding-b-1">点击买入即视为同意<a href="javascript:;" class="underline">《购买协议》</a></div>
  </form>
</div>