<div class="bg-white padding-l-1 padding-r-1 padding-t-3 padding-b-3 overflow-hid text-center">
    <div class="overflow-hid">
        <img src="/images/lianlian-callback.png" width="35%"> 
        <p class="padding-t-1">
            恭喜您，成功买入<span class="ft-orange">{{ number }}元</span>白条理财！<br>项目到期获得理财收益，还可以消费哦~
        </p>
        <div class="u-full-width twelve padding-l-1 padding-r-1 margin-b-1 padding-b-2">
            <div class="button ft-white bg-green border-none border-ra-0p5" ui-sref="root.main">白条消费</div>
            <!-- <div class="one-half button button-primary u-pull-right border-none border-ra-0p5" ui-sref="root.login">分享喜悦</div> -->
        </div>
    </div> 
</div>
